{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="ui tab" data-tab="products">
    <h3 class="ui top header">{{ 'sylius.ui.products' | trans }}</h3>

    {% if vendor.products | length > 0 %}
        <div class="ui segment spaceless sylius-grid-table-wrapper">
            <table id="sylius-cart-items" class="ui very basic celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'sylius.ui.image' | trans }}</th>
                    <th>{{ 'sylius.ui.code' | trans }}</th>
                    <th>{{ 'sylius.ui.name' | trans }}</th>
                    <th>{{ 'sylius.ui.main_taxon' | trans }}</th>
                    <th>{{ 'sylius.ui.enabled' | trans }}</th>
                    <th>{{ 'sylius.ui.actions' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in vendor.products %}
                        <tr class="item">
                        
                            <td>
                                
                            </td>
                            
                            <td>
                                {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': item, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
                            </td>
                            
                            <td>{{ item.code }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.mainTaxon }}</td>
                            
                            <td>
                                {% if item.enabled %}
                                    <span class="ui teal label"><i class="checkmark icon"></i> {{ 'sylius.ui.enabled' | trans }}</span>
                                {% else %}
                                    <span class="ui red label"><i class="remove icon"></i> {{ 'sylius.ui.disabled' | trans }}</span>
                                {% endif %}
                            </td>
                        
                            <td {{ sylius_test_html_attribute('actions') }}>
                                <div class="ui buttons">
                                    <a class="ui labeled icon button " href="{{ path( 'sylius_admin_product_show', {'id': item.id} ) }}">
                                        <i class="icon search"></i> {{ 'sylius.ui.details' | trans }}
                                    </a>
                                    <a class="ui labeled icon button " href="{{ path( 'sylius_admin_product_update', {'id': item.id} ) }}">
                                        <i class="icon pencil"></i> {{ 'sylius.ui.edit' | trans }}
                                    </a>
                                    <form action="{{ path( 'sylius_admin_product_bulk_delete', {'id': item.id} ) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="ui red labeled icon button"
                                            style="background-color: #DB2828 !important; color: #FFFFFF !important;"
                                            type="submit"
                                            data-requires-confirmation=""
                                        >
                                            <i class="icon trash"></i> {{ 'sylius.ui.delete' | trans }}
                                        </button>
                                        <input type="hidden" name="_csrf_token" value="867fa0b1e8ce6179963.MgY9YXf1OPzepirFPtbTsDl7eFJo4gSfztVjWXGcEyk.eE5cGxOcdayWn1m_UZe72Ww3DH8goXDr-ZROCQjFR2ZjPwo2G4dZt7jMXQ">
                                    </form>
                                </div>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}
</div>